@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

h3 {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

a {
    color: #e5e7f6;
    text-decoration-line: none;
}

.section {
    height: 500px;
}

#sec1 {
    background-color: #1F2937;
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    gap: 10px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    font-weight: 900;
}

.intro > p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
}

button {
    width: 150px;
    height: 40px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
}

.image {
    background-color: lightslategray;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
}

.cards {
    display: flex;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-align: center;
}

.square {
    background-color: white;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
    border-width: 4px;
    width: 180px;
    height: 180px;
}

#sec3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding: 300px;
    padding-bottom: 0;
}

.author {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    padding: 300px;
    padding-top: 0;
}

#sec4 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.text1 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin: 0;
}

.text2 {
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.signup > button {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}